@font-face {
	font-family: 'Circular';
	src: url('Circular_Air-Book.woff2') format('woff2'), /* Navigateurs récents */
	url('Circular_Air-Book.woff') format('woff')
}
@font-face {
	font-family: 'Circular';
	src: url('Circular_Air-Bold.woff2') format('woff2'), /* Navigateurs récents */
	url('Circular_Air-Bold.woff') format('woff');
	font-weight:700;
}
@font-face {
	font-family: 'Circular';
	src: url('Circular_Air-Light.woff2') format('woff2'), /* Navigateurs récents */
	url('Circular_Air-Light.woff') format('woff');
	font-weight:300
}
* {
	box-sizing: border-box;
}

body, body > header {
	padding: 15px 24px;
}
body {
	color: #484848;
	font-family: Circular, Arial, sans-serif;
	font-size: 15px;
	padding-top: 70px;
}
a {
	color: #484848;
	text-decoration: none;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
header {
	font-size: 14px;
}
body > header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;

	background-color: #ffffff;
}
body > header nav a.logo {
	position: relative;
	display: inline-block;
	color: #FF5A5F;
	font-size: 34px;
}
body > header nav a.logo::after {
	position: absolute;
	left: 120%;
	top: 50%;
	transform: translateY(-50%) scaleY(0.4);
	content: "v";
	font-size: 20px;
	font-weight: lighter;
	color: #484848;
}
body > header nav ul {
	display: none;
}
h1 {
	font-size: 25px;
	font-weight: lighter;
	margin-top: 80px;
}
h1 strong {
	display: block;
	font-weight: bold;
	color: #FF5A5F;
}
h2 {
	margin-top: 50px;
	font-size: 25px;
}
h3 {
	font-size: 19px;
}
form {
	font-size: 15px;
	box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25);
	padding: 15px;
	border: 1px solid #DBDBDB;
	border-radius: 4px;
}
form input {
	border: none;
}
form button {
	display: none;
}
.thumbnail {
	width: 100%;
	background-size: cover;
	background-position: center;
}
section li a {
	display: block;
	font-weight: lighter;
}

section li a strong, section li a .ratings {
	font-size: 12px;
}
section li a strong {
	font-weight: bold;
}
section li a h3 {
	margin: 2px 0;
}
section.explore {
	font-size: 15px;
	font-weight: bold;
}
section.explore li a {
	font-weight: bold;
	box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25);
	border: 1px solid #DBDBDB;
	padding: 10px;
}
section.explore li a .thumbnail {
	height: 68px;
}

section.experience li a .thumbnail {
	height: 105px;
}
section.homes li a .thumbnail {
	height: 142px;
}
section.featured li a .thumbnail {
	height: 151px;
}