
/* styles desktop issus du précédent tp */

body {
	color: #484848;
	font-family: Circular, Arial, sans-serif;
	font-size: 15px;
}
* {
	box-sizing: border-box;
}
a {
	color: #484848;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
header {
	font-size: 14px;
}
header nav a.logo {
	color: #FF5A5F;
	font-size: 34px;
}
h1 {
	font-size: 48px;
	font-weight: normal;
}
h1 strong {
	color: #FF5A5F;
}
form {
	font-size: 19px;
	box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25);
	padding: 20px;
	border: 1px solid #DBDBDB;
}
form input {
	border: none;
}
form button {
	border: none;
	border-radius: 4px;
	background-color: #FF5A5F;
	padding: 15px;
	color: #ffffff;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 19px;
}
.thumbnail {
	width: 100%;
	background-size: cover;
	background-position: center;
}
section li a {
	display: block;
	font-weight: lighter;
}

section li a strong, section li a .ratings {
	font-size: 12px;
}
section li a strong {
	font-weight: bold;
}
section li a h3 {
	margin: 2px 0;
}
section.explore {
	font-size: 17px;
	font-weight: bold;
}
section.explore li a {
	box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25);
	border: 1px solid #DBDBDB;
	padding: 10px;
}
section.explore li a .thumbnail {
	height: 72px;
}

section.experience li a .thumbnail {
	height: 164px;
}
section.homes li a .thumbnail {
	height: 222px;
}
section.featured li a .thumbnail {
	height: 237px;
}